.fade {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in, visibility 0s 0.5s;
}

.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease-in-out, visibility 0s;
}

.fade-out {
    opacity: 0.5;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0s 0.5s;
}